.*.swp
cwc

todo

# grr mac
.DS_Store

.ephemer_version

# Editor
.idea
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
pylibs

# C extensions
*.so
*.log

/python

/.pkg/did_engine
/.pkg/did_mysql
/bin/virtual-python

